<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="Frontend developer portfolio" />
  <meta name="keywords"
    content="HTML, CSS, JavaScript, Python, jQuery, Figma, Frontet, C#, UI/UX, Slovenia, Designer, Websites, Spletne strani, Izdelava" />
  <meta name="author" content="Ana Maria Kim Vargason" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <!-- CSS -->
  <link rel="stylesheet" href="/static/css/styles.css" />
  <!-- Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Khula:wght@300;400;600;700&family=Source+Code+Pro:wght@400;600;700&display=swap"
    rel="stylesheet">
  <!-- Scroll reveal CDN-->
  <script src="https://unpkg.com/scrollreveal"></script>
  <link rel="icon" href="/static/images/logo2.png">
  <title>Ana Maria Kim Vargason</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

  <!-- SUCCESS -->

  <section id="success" class="bg-primary py-3 text-center">
    <div class="container">
      <h1 class="l-heading">Thank You For Your Message</h2>
        <p>I will get back to you as soon as possible!</p>
        <a href="/index.html">Go Back</a>
    </div>
  </section>

  <!-- FOOTER -->

  <footer id="contact">
    <div class="separator"></div>
    <div class="footer-links">
      <a href="https://github.com/nanavar" target="_blank">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/ana-maria-kim-vargason-a39200229/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto: ana.vargason@gmail.com">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    <div class="copyright">
      <p>© 2022 Ana Maria Kim Vargason</p>
      <p>All rights reserved.</p>
    </div>
  </footer>
</body>

</html>